@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700;800;900&family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #333;
}
.bold {
  font-weight: bold;
  background-color: green;
  border-radius: 15%;
  font-size: 2.5rem;
}
.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.detailed-history-title {
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  color: white;
  transform: translateZ(-10px) scale(2);
  margin-left: 700px;
}

.background {
  transform: translateZ(-20px) scale(4);
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -4;
}

.container1 {
  display: flex;
  justify-content: space-around;
  margin-top: 300px;
}
.history-parag1 {
  display: inline-block;
  color: white;
  font-size: 24px;
  margin-bottom: 0px;
  width: 700px;
  margin-left: 50px;
}

.history-img1 {
  width: 300px;
  height: 300px;
}
