*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
body{
    width: 100%;
    overflow-x: hidden;
}
div {
    position: relative;
    width: 100%;
    height: 100vh;
}
.first, .second{
    border: 0.5px rgb(61, 58, 58)  solid;
}
.first{
    background-image: url("../pics/Polygon\ Luminary.svg");
    background-size: cover;
    z-index: -100;
    height: 100vh;
    background-attachment: fixed;
}
.title{
    z-index: -99;
    position: fixed;
    left: 35%;
    font-size: 36px;
    top: 70px;
    color: white;
    text-align: center;
    font-family: 'Orbitron',cursive;
}
.second{
    background-color: rgb(44, 65, 82);
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.collection{
    position: fixed;
    z-index: -99;
    transform: translate(300px, 80px);
    width: 520px;
}

.third{
    background-image: url("../pics/download.png");
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: -60;   
}
.third-inner{
    position: relative;
    background-color: rgb(200, 253, 235);
    width: 20%;
    border: 0.7px rgb(129, 129, 1) solid;
    border-radius: 10px;
    left: 66%;
    height: 30%;
    color: rgb(129, 129, 1);
    padding: 6px;
    padding-top: 37px;
    text-align: center;
    top: 28%;
    font-size: 12px;
}
.presenter{
    position: absolute;
    width: 180px;
    top: 25%;
    left: 43%;
}
.fourth{
    background-color: rgb(50, 117, 153);
    border: 1px rgb(117, 112, 136) solid;
}
.fifth{
    background-color: rgb(59, 86, 100);
}
.sixth{
    background-image: url("../pics/robots\ king.jpg");
    background-size: cover;
    border: 1px rgb(134, 114, 0) solid;
}
.holding-chip{
    position: fixed;
    z-index: -99;
    height: 500px;
    width: 500px;
    right: 0px;
    bottom: 0;
}
.spinner{
    position: relative;
    left: 800px;
    top: 20vh;
    width: 300px;
    height: 300px;
}
.build-robot{
    position: fixed;
    z-index: 0;
    height: 100px;
    width: 120px;
    right: 230px;
    top: 25vh;
}
.robot-finger{
    position: fixed;
    z-index: 0;
    height: 320px;
    width: 200px;
    right: 400px;
    bottom: 0;
}
.history{
    position: absolute;
}
.history-elements{
    position: absolute;
}
.second p{
    font-size: 22px;
    color: aquamarine;
}
.robot-chess{
    width: 25%;
}
.alan{
    width: 200px;
    height: 200px;
    transform: translate(820px, 30px);
}
.line1{
    text-align: center;
    width: 50%;
    transform: translate(10px, 80px);
}   
.line2{
    text-align: center;
    width: 50%;
    transform: translate(10px, 80px);

}
.robot-chess{
    width: 250px;
    height: 200px;
    transform: translate(800px, 0);
}
.history2{
    transform: translate(0, 50vh);
}
.history1{
    transform: translate(0, 2vh);
}
.build{
    position: fixed;
    top: 50vh;
}
.city{
    position: absolute;
    width: 1000px;
    z-index: -49;
    top: 17%;
}